header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .navbar {
    padding: 0.8rem 1rem;
  }

  .navbar-toggler {
    border: none;
    background-color: transparent;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  .nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: #007bff; 
  }

  ol {
    padding-left: 20px;
  }

  .link-u {
    background-color: green;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    color: #fff;
    display: inline-block;
    margin: 10px;
  }

  .link-d {
    background-color: red;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    color: #fff;
    display: inline-block;
  }

  .link-ud:hover {
    opacity: 0.8;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #444;
    margin-top: 20px;
    border-radius: 8px;
  }

  html, body {
    height: 100%; 
    margin: 0; 
    padding: 5px;
  }
  body {
    display: flex;
    flex-direction: column; 
  }

  main {
    flex: 1; 
  }
 
 .flash {
  background-color: #d1fae5;
  border: 1px solid #10b981;
  color: #065f46;
  padding: 12px;
  margin: 15px auto;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  width: 90%;
  max-width: 600px;
  animation: fadeOut 0.5s ease-out 3s forwards;
}
